@support-backdrop-filter: ~"(not (backdrop-filter: blur(1px))) and (not (-webkit-backdrop-filter: blur(1px)))";

:root {
    --line-scale: 76.8;
}

/* 定义通用 transition 属性 */
.transition {
    transition-property: left, right, color, background, transform, -webkit-transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

/* ================================= 原生组件定义区 ================================= */
/**
 * 此处定义原生组件的样式，如 body, button 等组件的样式
**/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #FFF;
    background-color: #000;
    overflow: hidden;
}

button {
    padding: calc(var(--line-scale) * 0.3125px) calc(var(--line-scale) * 0.694444px);
    color: #FFF;
    background: none;
    font-size: calc(var(--line-scale) * 0.347222px);
    border: calc(var(--line-scale) * 0.034722px) solid #FFF;
    outline: none;
    border-radius: calc(var(--line-scale) * 0.555556px);
    transition-property: background, color, border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-property: background, color, border;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    &:active {
        color: rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.6);
    }

    &.highlight {
        background: #FFF;
        color: #000;
        border: calc(var(--line-scale) * 0.034722px) solid rgba(255, 255, 255, 0);

        &:hover {
            background: rgba(255, 255, 255, 0.8);
            border: calc(var(--line-scale) * 0.034722px) solid #FFF;
        }

        &:active {
            background: rgba(255, 255, 255, 0.6);
        }
    }
}

/* ================================= 自定义样式定义区 ================================= */
/**
 * 此处定义通用样式，如定义一次之后就可以在其他组件中使用的样式
**/
.center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--fixed-width) * 0.828645);
    height: 77.129630%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: calc(var(--line-scale) * 0.78125px);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;

    * {
        position: relative;
        padding: calc(var(--line-scale) * 0.381944px);
        align-self: stretch;
        flex-basis: 100%;
    }

    .content {
        padding-bottom: calc(var(--line-scale) * 1.180556px * 2);

        .title {
            margin: calc(var(--line-scale) * 0.798611px) calc(var(--line-scale) * 1.006944px) 0;
            font-size: calc(var(--line-scale) * 1.006944px);
        }

        .subtitle {
            margin: 0 calc(var(--line-scale) * 1.180556px) 0;
            font-size: calc(var(--line-scale) * 0.347222px);
        }
    }
}

.loading {
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        position: relative;
        width: calc(var(--height-percent) * 40px);
        height: calc(var(--height-percent) * 40px);
        border: calc(var(--height-percent) * 6px) solid transparent;
        border-top: calc(var(--height-percent) * 6px) solid #FFF;
        border-left: calc(var(--height-percent) * 6px) solid #FFF;
        border-radius: 50%;
        box-sizing: border-box;
        animation: circle-loading 0.4s linear infinite;
        -webkit-animation: circle-loading 0.4s linear infinite;
    }

    @keyframes circle-loading {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    @-webkit-keyframes circle-loading {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
}



.progress {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--height-percent) * 13px);
    font-size: calc(var(--line-scale) * 0.520833px);
    .transition();

    &::before {
        content: var(--content, '');
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        padding: calc(var(--height-percent) * 7px);
        transform: translateY(-100%);
    }

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: var(--progress, 0%);
        height: calc(var(--height-percent) * 13px);
        background: rgba(255, 255, 255, .65);
    }
}

.switch {
    display: inline-block;
    cursor: pointer;

    input[type="checkbox"] {
        display: none;
    }

    .switch-background {
        display: inline-block;
        position: relative;
        width: calc(var(--line-scale) * 1.267361px);
        height: calc(var(--line-scale) * 0.520833px);
        background: rgba(255, 255, 255, 0.3);
        border-radius: calc(var( --line-scale) * 0.243056px);
        transition-property: background;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
    }

    .switch-handle {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--line-scale) * 0.590278px);
        height: calc(var(--line-scale) * 0.520833px);
        margin: calc(var(--line-scale) * 0.086806px);
        transform: translate(0%);
        -webkit-transform: translate(0%);
        background: #FFF;
        border-radius: calc(var(--line-scale) * 0.15625px);
        transition-property: left,transform,-webkit-transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
    }

    /* 定义开关打开后的样式 */
    input[type="checkbox"]:checked {
        & + .switch-background {
            background: rgba(100, 255, 100, 0.3);

            .switch-handle {
                left: 100%;
                transform: translateX(calc(-100% - var(--line-scale) * 0.086806px * 2));
                -webkit-transform: translateX(calc(-100% - var(--line-scale) * 0.086806px * 2));
            }
        }
    }
}

.rks {
    position: relative;
    padding: calc(var(--height-percent) * 6px) calc(var(--height-percent) * 13px);
    font-size: calc(var(--line-scale) * 0.295139px);
    font-family: 'MiSans';
    border-radius: calc(var(--height-percent) * 10px);
    box-sizing: border-box;

    @alpha: 0.4;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: calc(var(--height-percent) * 6px);
        width: calc(var(--height-percent) * 3px);
        height: calc(var(--height-percent) * 32px);
        transform: translateY(-50%);
        border-radius: calc(var(--height-percent) * 2px);
    }

    .rks-type {
        font-weight: bold;
    }

    &-low {
        background: linear-gradient(120deg, rgba(177, 98, 224, @alpha) -10%, rgba(97, 169, 235, @alpha) 90%, rgba(91, 174, 236, @alpha));

        &::before {
            background: linear-gradient(45deg, #53B4FF, #E9A2F8);
        }
    }

    &-medium {
        background: linear-gradient(110deg, rgba(115, 143, 254, @alpha) 0%, rgba(106, 165, 198, @alpha) 30%, rgba(115, 219, 153, @alpha) 82%, rgba(255, 231, 110, @alpha) 110%, rgba(223, 155, 130, @alpha) 145%);

        &::before {
            background: linear-gradient(160deg, #9ECBE1 0%, #A9A1D4 48%, #6BE9A6 100%);
        }
    }

    &-high {
        background: linear-gradient(136deg, rgba(115, 143, 254, @alpha) 2%, rgba(106, 195, 168, @alpha) 24%, rgba(115, 219, 153, @alpha) 48%, rgba(255, 231, 110, @alpha) 72%, rgba(223, 155, 130, @alpha) 96%);

        &::before {
            background: linear-gradient(175deg, #DF9B82 8%, #FFE76E 22%, #73DB99 42%, #6AA5C6 72%, #738FFE 100%);
        }
    }
}

.level {
    color: #FFF;
    background: #867D62;
    transition: background .2s linear;

    &-easy {
        background: #24CE63;
    }
    &-hard {
        background: #41BEF3;
    }
    &-insane {
        background: #F3D041;
    }
    &-another {
        background: #F35941;
    }
    &-special {
        background: #0091C7;
    }
    &-legacy {
        background: #867D62;
    }
}

/*
.container .image {
    先留空了
}
*/

.container .image .image-media {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--line-scale) * 0.381944px * 2);
    height: calc(100% - var(--line-scale) * 0.381944px * 2);
    margin: calc(var(--line-scale) * 0.381944px);
    background: #000;
    border-radius: calc(var(--line-scale) * 0.503472px);
}

.container .actions {
    position: absolute;
    width: calc(100% - var(--line-scale) * 1.180556px * 2);
    left: 0;
    bottom: 0;
    padding: calc(var(--line-scale) * 1.180556px);
    padding-top: 0;
}
.container .actions button + button {
    margin-left: calc(var(--line-scale) * 0.138889px);
}


/**
 * 此处定义非通用样式
**/
.game-loading {
    .bg();
    background-image: url('/img/bg-loading.png');

    .bg {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg-transition {
        transition-property: opacity;
        transition-timing-function: linear;
        transition-duration: 1s;
    }

    &::before {
        .bg();
        background-image: url('/img/bg-touchtostart.png');
        opacity: 0;
        .bg-transition();
    }

    .logo {
        position: absolute;
        top: calc(var(--line-scale) * 0.694444px);
        left: calc(var(--line-scale) * -0.416667px);
        width: calc(var(--line-scale) * 10.381944px);
        height: calc(var(--line-scale) * 5.850694px);
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        background-image: url('/img/bg-logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .prompt {
        display: none;
        position: absolute;
        left: 50%;
        bottom: calc(var(--line-scale) * 0.954861px);
        transform: translateX(-50%);
        font-size: calc(var(--line-scale) * 0.607639px);
    }

    &.loaded {
        &::before {
            opacity: 1;
        }

        .logo {
            top: 50%;
            left: 50%;
            width: calc(var(--line-scale) * 19.895833px);
            height: calc(var(--line-scale) * 11.232639px);
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transition-property: top, left, width, height, transform, -webkit-transform;
            transition-timing-function: ease-out;
            transition-duration: 1s;
        }

        .progress {
            transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
            -webkit-transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
            opacity: 0;
        }

        .prompt {
            display: inline-block;
        }
    }
}

.select-song {
    background-image: url('/img/testbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        box-shadow: 0px 0px calc(var(--height-percent) * 250px) calc(var(--height-percent) * 150px) #000;
        .transition();
    }

    .song-list {
        position: absolute;
        width: calc(var(--height-percent) * 607px);
        height: calc(var(--height-percent) * 1001px);
        top: calc(var(--height-percent) * 40px);
        left: calc(var(--height-percent) * 39px);
        padding: calc(var(--height-percent) * 46px) calc(var(--height-percent) * 44px);
        background: rgba(0, 0, 0, .31);
        backdrop-filter: blur(50px);
        overflow: hidden;
        -webkit-backdrop-filter: blur(50px);
        border-radius: calc(var(--line-scale) * 0.642361px);
        box-sizing: border-box;
        .transition();

        /* 针对不支持高斯模糊的浏览器进行兼容样式处理 */
        @supports @support-backdrop-filter {
            background: rgba(0, 0, 0, .91);
        }
    
        .header {
            position: relative;
    
            .title {
                font-size: calc(var(--line-scale) * 0.659722px);
                font-weight: bold;
            }
    
            .subtitle {
                font-size: calc(var(--line-scale) * 0.295139px);
            }
    
            .actions {
                position: absolute;
                top: 0;
                right: 0;

                .import-file-input {
                    display: none;
                }
    
                button.import-file {
                    min-width: calc(var(--height-percent) * 134px);
                    min-height: calc(var(--height-percent) * 58px);
                    padding: calc(var(--height-percent) * 14px) calc(var(--height-percent) * 46px);
                    background: rgba(0, 0, 0, .38);
                    font-size: calc(var(--line-scale) * 0.399306px);
                    border: none;
                    border-radius: calc(var(--line-scale) * 0.295139px);
                }
            }
        }

        .content {
            position: relative;
            height: calc(100% - var(--height-percent) * 126px);
            margin-top: calc(var(--height-percent) * 34px);
            border-radius: calc(var(--line-scale) * 0.451389px);
            overflow-x: hidden;
            overflow-y: auto;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: y mandatory;

            /* 替换默认的滚动条样式 */
            scrollbar-width: thin;
            scrollbar-color: c transparent;

            &::-webkit-scrollbar {
                width: calc(var(--height-percent) * 8px);
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 255, 255, .5);
            }
            &::-webkit-scrollbar-button, &::-webkit-scrollbar-track {
                display: none;
            }

            &::before, &::after {
                content: '已经到头了 >_<||';
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                color: rgba(255, 255, 255, .5);
                font-size: calc(var(--line-scale) * 0.312500px);
                line-height: calc(var(--height-percent) * 400px);
                text-align: center;
            }

            .list-item {
                position: relative;
                padding: calc(var(--height-percent) * 37px) 0;
                font-family: 'MiSans';
                scroll-snap-align: start;
                cursor: pointer;

                .title {
                    font-size: calc(var(--line-scale) * 0.694444px);
                    font-weight: bolder;
                }

                .subtitle {
                    font-size: calc(var(--line-scale) * 0.347222px);
                }
            }
        }
    }

    .selected-song {
        display: flex;
        position: absolute;
        top: calc(var(--height-percent) * 193px);
        left: calc(var(--height-percent) * 39px + var(--height-percent) * 44px);
        width: calc(var(--height-percent) * 720px);
        height: calc(var(--height-percent) * 168px);
        padding: calc(var(--height-percent) * 15px);
        background: rgba(102, 102, 102, .45);
        backdrop-filter: blur(30px);
        border: calc(var(--height-percent) * 1px) solid #707070;
        border-radius: calc(var(--line-scale) * 0.451389px);
        overflow: hidden;
        box-sizing: border-box;
        .transition();

        /* 针对不支持高斯模糊的浏览器进行兼容样式处理 */
        @supports @support-backdrop-filter {
            background: rgb(102, 102, 102);
        }

        .song-info {
            padding: calc(var(--height-percent) * 25px) calc(var(--height-percent) * 31px);
            font-family: 'MiSans';
            flex-grow: 1;

            .title {
                font-size: calc(var(--line-scale) * 0.694444px);
                font-weight: bold;
            }
            .subtitle {
                font-size: calc(var(--line-scale) * 0.347222px);
            }
        }

        .song-diff {
            display: flex;
            width: calc(var(--height-percent) * 201px);
            height: 100%;
            padding: calc(var(--height-percent) * 25px);
            font-family: 'MiSans';
            text-align: center;
            border-radius: calc(var(--height-percent) * 18px);
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;

            .diff-value {
                font-size: calc(var(--line-scale) * 0.833333px);
                font-weight: bold;
            }

            .diff-type {
                font-size: calc(var(--line-scale) * 0.3125px);
            }
        }
    }

    .song-extra-info {
        position: absolute;
        left: calc(var(--height-percent) * 719px);
        bottom: calc(var(--height-percent) * 95px);
        padding-left: calc(var(--height-percent) * 16px);
        box-sizing: border-box;
        .transition();
        transition-property: left, right, bottom, transform, -webkit-transform, opacity;

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: calc(var(--height-percent) * 5px);
            width: calc(var(--height-percent) * 8px);
            height: calc(var(--height-percent) * 49px);
            background: #FFF;
            border-radius: calc(var(--height-percent) * 6px);
        }

        .song-higest-score {
            font-family: 'MiSans';
            font-size: calc(var(--line-scale) * 0.434028px);
        }

        .song-chart-designer {
            font-family: 'MiSans';
            font-size: calc(var(--line-scale) * 0.347222px);
        }
    }

    .user-info {
        display: flex;
        position: absolute;
        top: calc(var(--height-percent) * 65px);
        right: calc(var(--height-percent) * 39px);
        min-width: calc(var(--height-percent) * 444px);
        height: calc(var(--height-percent) * 114px);
        padding: calc(var(--height-percent) * 30px);
        padding-left: calc(var(--height-percent) * 135px);
        background: rgba(0, 0, 0, .31);
        font-family: 'MiSans';
        border-radius: calc(var(--height-percent) * 37px);
        backdrop-filter: blur(50px);
        box-sizing: border-box;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        .transition();

        .user-name {
            font-size: calc(var(--line-scale) * 0.694444px);
            flex-grow: 1;
        }

        .user-rks {
            width: calc(var(--height-percent) * 191px);
            margin-left: calc(var(--height-percent) * 10px);
        }

        .user-avatar {
            position: absolute;
            top: 50%;
            left: calc(var(--height-percent) * -41px);
            width: calc(var(--height-percent) * 165px);
            height: calc(var(--height-percent) * 165px);
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    .game-settings {
        position: absolute;
        right: calc(var(--height-percent) * 85px);
        bottom: calc(var(--height-percent) * 182px);
        height: calc(var(--height-percent) * 57px);
        padding: calc(var(--height-percent) * 14px) calc(var(--height-percent) * 46px);
        font-size: calc(var(--line-scale) * 0.35px);
        background: rgba(0, 0, 0, .38);
        border: none;
        border-radius: calc(var(--height-percent) * 29px);
        .transition();
    }

    .song-start {
        position: absolute;
        right: calc(var(--height-percent) * 74px);
        bottom: calc(var(--height-percent) * 97px);
        height: calc(var(--height-percent) * 73px);
        padding: calc(var(--height-percent) * 22px) calc(var(--height-percent) * 68px);
        font-size: calc(var(--line-scale) * 0.35px);
        border-radius: calc(var(--height-percent) * 50px);
        box-sizing: border-box;
        .transition();
    }

    .song-loading-info {
        position: absolute;
        display: flex;
        left: calc(var(--height-percent) * 110px);
        bottom: 0;
        transform: translateY(calc(100% + 2px));
        font-family: 'MiSans';
        opacity: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        .transition();

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(var(--height-percent) * 643px);
            height: calc(var(--height-percent) * 76px);
            background: rgba(255, 255, 255, 0.2);
            border-radius: calc(var(--height-percent) * 16px);
        }

        .diff-info {
            position: relative;
            width: calc(var(--height-percent) * 130px);
            height: calc(var(--height-percent) * 112px);
            text-align: center;
            border-radius: calc(var(--height-percent) * 16px);

            .diff-type {
                padding: calc(var(--height-percent) * 9px) calc(var(--height-percent) * 36px);
                font-size: calc(var(--line-scale) * 0.260417px);
            }

            .diff-value {
                position: relative;
                padding: 0 calc(var(--height-percent) * 36px) calc(var(--height-percent) * 8px);
                font-size: calc(var(--line-scale) * 0.868056px);
                font-weight: bold;

                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 0 0 calc(var(--height-percent) * 16px) calc(var(--height-percent) * 16px);
                }
            }
        }

        .song-info {
            margin-left: calc(var(--height-percent) * 27px);

            .title {
                font-family: 'A-OTF Shin Go Pr6N H';
                font-size: calc(var(--line-scale) * 0.868056px);
                line-height: calc(var(--height-percent) * 66px);
            }

            .subtitle {
                font-size: calc(var(--line-scale) * 0.347222px);
            }
        }
    }

    .song-loading-progress {
        transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
        -webkit-transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
        opacity: 0;
    }


    /* 曲目正式加载时，隐藏多余的元素并显示加载进度条 */
    &.song-loading {
        /* 统一定义一下 */
        .hide-left {
            left: 0;
            transform: translateX(calc(-100% - 2px));
            -webkit-transform: translateX(calc(-100% - 2px));
        }
        .hide-right {
            right: 0;
            transform: translateX(calc(100% + 2px));
            -webkit-transform: translateX(calc(100% + 2px));
        }

        .song-list, .selected-song {
            .hide-left();
        }

        .song-extra-info {
            bottom: 0;
            transform: translateY(calc(100% + 2px))
        }

        .user-info {
            right: 0;
            transform: translateX(calc(100% + var(--height-percent) * 41px));
            -webkit-transform: translateX(calc(100% + var(--height-percent) * 41px));
        }

        .song-start, .game-settings {
            .hide-right();
        }

        .song-loading-info {
            bottom: calc(var(--height-percent) * 127px);
            transform: translateY(0);
            opacity: 1;
        }
        
        .song-loading-progress {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            opacity: 1;
        }

        &.song-loaded {
            &::before {
                opacity: 0;
            }

            .song-loading-info {
                bottom: 0;
                transform: translateY(calc(100% + 2px));
                opacity: 0;
            }

            .song-loading-progress {
                transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
                -webkit-transform: translateY(calc(100% + var(--line-scale) * 0.520833px));
                opacity: 0;
            }
        }
    }
}